
main .admin-panel-wrapper  {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.admin-panel-wrapper {
    width: 95%;

    border-radius: 5px;
}

.admin-panel-wrapper > * {
    flex-basis: 100%;
    margin: 10px;
}

