/* Main header */
header {
    background-color: #D7263D;
    max-height: fit-content;
    padding: 7px 15px;

    display: flex;
    align-items: center;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/* Logo */
header img {
    height: 3em;
    border: 1px solid #0000004f;
    border-radius: 5%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Account Privileges */
header p {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-right: 100px;
}


.button-wrapper { 
    margin-left: auto; /* align buttons right */
}

/* Router Link buttons */
header a {
    text-decoration: none;
    font-weight: bold;
    background: #ededed;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 20px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 0.5em;
}

header a:link {
    color: blue;
}
header a:hover {
    text-decoration: underline;
}
header a:visited {
    color: purple;
}